@(user: securesocial.core.SocialUser)(implicit request: RequestHeader, messages: Messages)

@import helper._

@scripts = {
    <script src="@routes.Assets.at("js/contract.js")"></script>
}


<style>
    .p_level1 { color: @globals.settings(securesocial.core.SecureSocial.currentUser.get.user_country, "country_appearance_text_6", 2).asInstanceOf[String]; font-size: 14px; cursor: hand}
    .p_level1:hover { color: @globals.settings(securesocial.core.SecureSocial.currentUser.get.user_country, "country_appearance_text_4", 2).asInstanceOf[String] }
    .p_leveln { }
</style>

@exchange._chrome(Messages("chrome.exchange.navigation.contract.title"), "contract", scripts) {
        <!-- page content -->
    <div class="page-title">
        <div class="title_left">
            <h3><i class="fa fa-book"> &nbsp;</i> @Messages("directpay.navigation.termsandcontract.title")</h3>
        </div>
    </div>


    <p id="contract-body-script-position"></p>  <!-- Script is called here -->

        <!-- Contract Body script -->
    <script id="contract-body-script-template" type="text/x-handlebars-template">
        {{#each this}}
        <p style="margin: 16px {{p_level}}0px 10px; padding-left: {{p_level}}0px;" class="{{p_class}} {{p_level}}_{{p_level1}}" id="{{p_level}}{{p_level1}}">
        <span class="cont_number">{{p_number}}</span><span class="cont_text">{{p_text}}</span>
        </p>
        {{/each}}
    </script>
        <!-- end of Contract Body script -->



    <hr>
    Versão Jan/2018
    www.directPay.com.br
    OUVIDORIA: 0800 282 9900 1
    ATENDIMENTO: email<>email.com
    <br><br>




    <div class="disclaimer-text">
        <br>
        <p>@Messages("terminology.disclaimer"):</p>
        <p>@Messages("directpay.about.disclaimer1")</p>
    </div>
    <div class="clearfix"></div>
    <!-- /page content -->
}
