@(user: securesocial.core.SocialUser)(implicit request: RequestHeader, messages: Messages)

@import helper._

@scripts = {
    <script src="@routes.Assets.at("js/faq.js")"></script>
}

<style>
    .p_level1 { color: @globals.settings(securesocial.core.SecureSocial.currentUser.get.user_country, "country_appearance_text_6", 2).asInstanceOf[String]; font-size: 14px; cursor: hand}
    .p_level1:hover { color: @globals.settings(securesocial.core.SecureSocial.currentUser.get.user_country, "country_appearance_text_4", 2).asInstanceOf[String] }
    .p_leveln { display: none }
</style>

@exchange._chrome(Messages("chrome.exchange.navigation.faq.title"), "FAQ", scripts) {

    <!-- page content -->
    <div class="page-title">
        <div class="title_left">
            <h3>
                <i class="fa fa-question-circle"> &nbsp;</i> @Messages("chrome.exchange.navigation.faq.title") - @Messages("directpay.faq.frequentlyaskedquestions")
            </h3>
        </div>
    </div>


    <p id="faq-body-script-position"></p>  <!-- Script is called here -->

        <!-- Faq Body script -->
    <script id="faq-body-script-template" type="text/x-handlebars-template">
    {{#each this}}
        <p style="margin: 16px {{p_level}}0px 10px; padding-left: {{p_level}}0px;" class="{{p_class}} {{p_level}}_{{p_level1}}" id="{{p_level}}{{p_level1}}">
            <span class="faq_number">{{p_number}}</span><span class="faq_text">{{p_text}}</span>
        </p>
    {{/each}}
    </script>
        <!-- end of Faq Body script -->


    <div class="disclaimer-text">
        <br>
        <p>@Messages("terminology.disclaimer"):</p>
        <p>@Messages("directpay.faq.disclaimer1")</p>
    </div>
    <div class="clearfix"></div>
    <!-- /page content -->
}
